# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.project
.classpath
.settings/
bin/
.metadata
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nb-configuration.xml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Spring Boot
spring-boot-*.jar
spring-boot-devtools.jar

# Vercel
.vercel

# Environment
.env
.env.local
.env.production

