# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle Daemon
.gradle-daemon/

# Eclipse
.project
.classpath
.settings/
bin/
.metadata
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
nb-configuration.xml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
logs/

# Spring Boot
spring-boot-*.jar
spring-boot-devtools.jar

# Vercel
.vercel

# Environment
.env
.env.local
.env.production

